@media (max-width:1000px){
    header h1{
        font-size: 30px;
    }
    header img{
        transform: scale(0.75);
    }
    footer p{
        font-size: 20px;
        }
        footer .social {
            padding-right: 5px;
            margin-left: auto;
            width: 64px;
        }
}