@font-face {
    font-family: 'Onest Black';
    src: url(ofont.ru_Onest.ttf);
}
@font-face {
    font-family: 'Onest Bold';
    src: url(OnestBold1602-hint.ttf);
}
body{
    margin: 0;
}
footer{
     display: flex;
     background-color: rgb(5, 2, 21);
     justify-content: space-between;
     align-items: center;
     padding: 10vh 5vw;
}
footer p{
    color: white;
    font-size: 1.2vw;
    font-family: 'Open Sans',sans-serif ;
}
footer img{
    margin-right: 15px;
}
